<h2>PatientList</h2>
<ul class="patients">
  <li *ngFor="let patient of patients$ | async"
      [class.selected]="patient.id === selectedId">
    <div [routerLink]="['/admin/patient', patient.id]">
      <span class="badge" style="width:70px;text-align:left;">{{ patient.name }}</span>
      <span style="display:inline-block;width:150px;height:14px;text-align:center;">{{ patient.AttackDate }}</span>
      <span style="display:inline-block;width:150px;height:14px;text-align:center;">{{ patient.AttackTime }}</span>
      <span *ngIf="patient.alert == 'alert'" style="display:inline-block;width:150px;color:red;font-weight:bold;text-align:center;">Alert</span>
    </div>
  </li>
</ul>

<!--<button routerLink="/sidekicks">Go to sidekicks</button>-->
